<a href="https://colab.research.google.com/github/pranathivaddiraju/2216164aimlbootcamp2023/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####1. Methods of strings

In [1]:
name="pranathi vaddiraju"
print(name.capitalize())
print(name.count('a'))
print(name.endswith('e'))
print(name.find('d'))
print(name.title())
print(name.index('a',2,10))
print(name.isalpha())

Pranathi vaddiraju
4
False
11
Pranathi Vaddiraju
2
False

#####2. Methods of list

In [2]:
num=[11, 12, 10, 15, 14]
print(num)
print(len(num))
num.append('16')
print(num)
num.insert(2,12)
print(num)
num1=[1, 2, 3]
num.extend(num1)
print(num)
num.remove(11)
print(num)
num.pop(0)
print(num)
del num[6]
print(num)
num.reverse()
print(num)
num.clear()
print(num)

[11, 12, 10, 15, 14]
5
[11, 12, 10, 15, 14, '16']
[11, 12, 12, 10, 15, 14, '16']
[11, 12, 12, 10, 15, 14, '16', 1, 2, 3]
[12, 12, 10, 15, 14, '16', 1, 2, 3]
[12, 10, 15, 14, '16', 1, 2, 3]
[12, 10, 15, 14, '16', 1, 3]
[3, 1, '16', 14, 15, 10, 12]
[]

#####3. Methods of tuple

In [3]:
t=('table','key','bike','table')
print(t)
print(len(t))
y=('fan',)
t+=y
print(t)
x=t.count('chair')
print(x)
z=t.index('key')
print(z)

('table', 'key', 'bike', 'table')
4
('table', 'key', 'bike', 'table', 'fan')
0
1

#####4. Methods of dictionary

In [5]:
d={"name":"grad","id":"stellar","no":20010}
print(d)
d.update({'year':2000})
print(d)
x=d.get("name")
print(x)
y=d.items()
print(y)
z=d.values()
print(z)
d.pop("id")
print(d)
d.popitem()
print(d)
d.clear()
print(d)

{'name': 'grad', 'id': 'stellar', 'no': 20010}
{'name': 'grad', 'id': 'stellar', 'no': 20010, 'year': 2000}
grad
dict_items([('name', 'grad'), ('id', 'stellar'), ('no', 20010), ('year', 2000)])
dict_values(['grad', 'stellar', 20010, 2000])
{'name': 'grad', 'no': 20010, 'year': 2000}
{'name': 'grad', 'no': 20010}
{}

#####5. Methods of sets

In [6]:
s1={10,9,8,7,6,5}
s2={6,5,4,3,2,1}
s1|s2
print(s1.union(s2))
s1&s2
print(s1.intersection(s2))
print(s1.difference(s2))
s1^s2
print(s1.issubset(s2))
s1.add(9)
print(s1)
s3=s1.copy()
print(s3)
s2.pop()
print(s2)
s2.remove(6)
print(s2)
s4={19,18,17}
s1.update(s4)
print(s1)
s1.discard(6)
print(s1)
s1.clear()
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6}
{8, 9, 10, 7}
False
{5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6}
{2, 3, 4, 5}
{5, 6, 7, 8, 9, 10, 17, 18, 19}
{5, 7, 8, 9, 10, 17, 18, 19}
set()

#####6. Decimal to Binary, Octal and Hexadecimal conversion with direct method.

In [7]:
n = int(input("Enter an integer: "))
print("The decimal value of", n, "is:\n", bin(n), "in binary\n", oct(n), "in octal\n", hex(n), "in hexadecimal.")

Enter an integer: 2
The decimal value of 2 is:
 0b10 in binary
 0o2 in octal
 0x2 in hexadecimal.

#####7. Arthmetic operators

In [8]:
a=int(input("Enter first integer:"))
b=int(input("Enter second integer:"))
print("sum of ",a,"and",b,"is",(a+b))
print("subtraction of",a,"and",b,"is",(a-b))
print("multiplication of",a,"and",b,"is",(a*b))
print("division of",a,"and",b,"is",(a/b))
print("modulus of",a,"and",b,"is",(a%b))
print("floor division of",a,"and",b,"is",(a//b))
print("power of",a,"and",b,"is",(a**b))

Enter first integer:2
Enter second integer:4
sum of  2 and 4 is 6
subtraction of 2 and 4 is -2
multiplication of 2 and 4 is 8
division of 2 and 4 is 0.5
modulus of 2 and 4 is 2
floor division of 2 and 4 is 0
power of 2 and 4 is 16

#####8. Assignment operators

In [9]:
a=int(input("Enter first integer:"))
b=int(input("Enter second integer:"))
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a**=b
print(a)
a//=b
print(a)
a%=b
print(a)

Enter first integer:3
Enter second integer:6
9
3
18
3.0
729.0
121.0
1.0

#####9. Comparision operators

In [10]:
a=int(input("Enter first integer:"))
b=int(input("Enter second integer:"))
print((a<b))
print((a<=b))
print((a>b))
print((a>=b))
print((a==b))
print((a!=b))

Enter first integer:4
Enter second integer:7
True
True
False
False
False
True

#####10. Logical operators

In [11]:
a=int(input("Enter first integer:"))
a=int(input("Enter second integer:"))
print((a>b)and(a<b))
print((a<b)or(a>b))
print(not(a!=b))

Enter first integer:9
Enter second integer:3
False
True
False

#####11. Bitwise operators

In [12]:
a=int(input("Enter first integer:"))
b=int(input("Enter second integer:"))
print(a&b)
print(a/b)
print(a^b)
print(a<<4)
print(a>>1)
print(b<<2)

Enter first integer:7
Enter second integer:1
1
7.0
6
112
3
4

#####12. Membership operators

In [13]:
x="pranathi"
print('a' in x)
print('s' not in x)

True
True

#####13. Indexing operators

In [14]:
a=20
b=30
c=20
print(a is c)
print(a is not b)

True
True

#####14. List slicing indexing

In [15]:
l=[9,8,7,6,5,4,3,2,1]
print(l[-7::1])
print(l[1:4])
print(l[1:2:8])
print(l[::2])
print(l[::])

[7, 6, 5, 4, 3, 2, 1]
[8, 7, 6]
[8]
[9, 7, 5, 3, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

#####15. Predict the output for the given code snippet and justify the result.

In [18]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("-----------")
print('Welcome to python traing class'[3:9][::-1])

taawkcbe  tgestrcoeeA
-----------
t emoc

#####16.

In [21]:
inp=input("Enter a string:")
print(inp[::-1].upper())

Enter a string:enter a string
GNIRTS A RETNE

#####17. You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
######Input X= 2 Output ZZOOOO 
######Input X= 5 Output ZZZZZOOOOOOOOOO

In [ ]:
x=int(input('Enter X:'))
print(x*'Z'+ 2*x*'O')

Enter X:3
ZZZOOOOOO